.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


#myVideo {
  position: inherit;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* .video-container {
z-index: -100;
width:100%;
height:75%;
overflow:hidden;
position:absolute;
top:0;
left:0;
} */

#video-bg {
  width: 100%;

}

.portfolio-section {
  margin-top: 50%;
}


.navigation {
  padding-top: 20px;
  padding-bottom: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  background: black;
}

.navbar-right {
  float: right;
  padding-right: 10%;
}

.navbar-right a {
  text-decoration: none;
  padding: 10px;
  color: #fff;
  font-family: Arial;
  font-weight: 900;
}

.navbar-right a:hover {
  text-decoration: underline;
}

.navbar-logo {
  float: left;
  padding-left: 50px;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}